allure-pytest==2.8.16
allure-python-commons==2.8.16
appdirs==1.4.4
asgiref==3.3.1
astroid==2.4.2
asyncio==3.4.3
atomicwrites==1.4.0
attrs==19.3.0
backcall==0.2.0
black==19.10b0
certifi==2020.4.5.2
cffi==1.14.0
chardet==3.0.4
click==7.1.2
colorama==0.4.3
ConfigArgParse==1.2.3
decorator==4.4.2
Django==3.1.4
Events==0.3
filetype==1.0.7
Flask==1.1.2
Flask-BasicAuth==0.2.0
gevent==20.6.1
geventhttpclient==1.4.2
geventhttpclient-wheels==1.3.1.dev3
greenlet==0.4.16
httprunner==3.1.2
idna==2.9
importlib-metadata==1.6.1
ipython==7.19.0
ipython-genutils==0.2.0
isort==5.7.0
itsdangerous==1.1.0
jedi==0.18.0
Jinja2==2.11.2
jmespath==0.9.5
lazy-object-proxy==1.4.3
locust==1.0.3
loguru==0.4.1
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==8.3.0
msgpack==1.0.0
msgpack-python==0.5.6
mysqlclient==2.0.2
packaging==20.4
parso==0.8.1
pathspec==0.8.0
pickleshare==0.7.5
pluggy==0.13.1
prompt-toolkit==3.0.8
psutil==5.7.0
py==1.8.1
pycparser==2.20
pydantic==1.5.1
Pygments==2.7.3
pylint==2.6.0
PyMySQL==0.10.1
pyparsing==2.4.7
pystache==0.5.4
pytest==5.4.3
pytest-html==2.1.1
pytest-metadata==1.10.0
pytest-rerunfailures==9.1.1
python-dateutil==2.8.1
pytz==2020.4
PyYAML==5.3.1
pyzmq==19.0.1
regex==2020.6.8
requests==2.23.0
requests-toolbelt==0.9.1
sentry-sdk==0.14.4
six==1.15.0
sqlparse==0.4.1
threadpool==1.3.2
toml==0.10.1
traitlets==5.0.5
typed-ast==1.4.1
urllib3==1.25.9
wcwidth==0.2.4
websocket==0.2.1
websocket-client==0.57.0
websockets==8.1
Werkzeug==1.0.1
win32-setctime==1.0.1
wrapt==1.12.1
zipp==3.1.0
zope.event==4.4
zope.interface==5.1.0
